.signupCon{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 80px;
    
}

.signimg{
    margin-left: 120px;
    margin-top: 10px;
    width: 200px;
    height: 150px;
}
.btn{
    margin-top: 20px;
    margin-left: 150px;
    width: 150px;
    height: 30px;
    border-radius: 2rem 2rem 2rem 2rem;
    border: 2px solid black;
    background-color: black;
    color: wheat;
}
.usersignup{
    margin: 3rem;
    height: 15rem;
    border-radius: 2rem 2rem 2rem 2rem ;
    border: 2px solid black;
    background-color: rgb(53, 146, 41);
}

.btn:hover{
    background-color: wheat;
    color: black;
}